body, .grok-ui-root {
  height: 100%;
  box-sizing: content-box;
}

/* independent vertical scrolling hacks
 *
 * I want both panes to scroll independently.  I think it was working at some
 * point, then I think it stopped.  I've done the things in this block to make
 * it work again.  I'm calling it a hack because I haven't taken a step back and
 * operated from first principals.  That said, the general idea is to induce a
 * block formatting context with a constrained child through use of
 * position: absolute.
 */
.grok-ui-root {
  position: relative;
}
.grok-ui-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* end independent vertical scrolling hacks */

.grokApp {
}

/* react-reflex semanti-ui fixups:
   - semantic-ui applies a reset that makes everything use border-box.  But the
     styling of the splitter uses content-box, so reset it to content-box.
   - "height" behaves differently when dealing with border-box, so it's simplest
     to force the splitter's 100% styling to "initial" in order to simply take
     advantage of the flexbox default sizing.
 */
.reflex-layout,
.reflex-splitter {
  box-sizing: content-box;
}

.reflex-splitter {
  height: initial !important;
}


/* ## SEARCHFOX ## */
/* line number style */
.line-number {
    display: block;
    cursor: pointer;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
    padding: 0 0.5rem;
    position: relative;
}

/* Searchfox syntax highlighting CSS */
.syn_type {
    color: teal;
}

.syn_def {
    font-weight: 600;
}

.syn_string {
    color: green;
}

.syn_comment {
    color: darkred;
}

.syn_tag,
.syn_reserved {
    color: blue;
}

.syn_regex {
    color: #6d7b8d;
}
